
    <nav>

      <a routerLink="/temp1" routerLinkActive="active">doktor</a>
      <a routerLink="/temp2" routerLinkActive="active">pacjent</a>
    </nav>
    <router-outlet></router-outlet>

<!--
    <div class="btn-group" align="center">

      <ul class="ui-menu nav nav-pills">
        <li><a href="/index.html">Home</a> </li>
        <li><a routerLink="/temp1" routerLinkActive="active">Doctor</a></li>
        <li><a routerLink="/temp2" routerLinkActive="active">Patient</a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  -->



