h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}
.container
{
  margin: auto;
  background-color: sandybrown;



}
.cont1
{
  color: #740;


}


.cont2
{
  color: #740;

}

.dataSet1col {
  font-weight: bold;
}

button {
  float: none;
  vertical-align: middle;
}
