h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
 
}
.container 
{
  margin: auto;
  background-color: sandybrown;



}
.cont1
{
  color: #740;
 
 
 

}


.cont2
{

 
}
